{# app/Resources/views/jugadores/content.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h3> Lista de jugadores </h3>
<table border="1">
    <tr>
        <th>id</th>
        <th>nombre</th>
        <th>puntos</th>
		<th>victorias</th>
    </tr>
    {% for jugadores in jugadores %}
        <tr>
            <td>{{ jugadores.playerid }}</td>
            <td>{{ jugadores.name }}</td>
            <td>{{ jugadores.score }}</td>
            <td>{{ jugadores.wins }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
{% block backButton %}
    <button class="backButton" type="button" onCLick="history.back()">Atras</button>
{% endblock %}