<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet"/>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	{% block header %}
			<h1> Desafía a tus compañeros en este TRIVIAL Online </h1>
            <h2><a href="/">Acceder al Hall</a></h2>    	  
    	{% endblock %}
        {% block body %}{% endblock %}
        {% block message %}{% endblock %}
        {% block message2 %}{% endblock %}
        {% block form %}{% endblock %}
        {% block buttonLogin %}{% endblock %}
        {% block button %}{% endblock %}
        {% block backButton %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
