{# app/Resources/views/buttonLogin.html.twig #}
{% extends 'message.html.twig' %}
{% block buttonLogin %}
<div class="message2">
	<div class="botones">    
		<button type="button" onclick="window.location.href='/login'">Entrar</button>
    	<button type="button" onclick="window.location.href='/register'">Registrate</button>
    </div>
</div>
{% endblock %}