{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% endblock %}


{% block body %}

	{% block form %}

	{{ form_start(form) }}

	<div class="login-form">  
	  <div class="field">
	  {{ form_widget(form) }} 
	</div>
	{{ form_end(form) }}
	{% endblock %}

{% endblock %}