{# app/Resources/views/message.html.twig #}
{% extends 'base.html.twig' %}
{% block message %}
<div class="message">
    {{ message }}
</div> 
{% endblock %}
{% block message2 %}
<div class="message2">
    {{ message2 }}
</div> 
{% endblock %}
{% block buttonLogin %}{% endblock %}
{% block button %}

{% if message == "No hay partidas" %}
<div class="message2">  
		<button type="button" onclick="window.location.href='/newGame'">Crear Partida</button>
</div>
{% endif %}
{% if message == "Partida creada correctamente!" %}
<div class="message2">  
		<button type="button" onclick="window.location.href='/partida/{{idPartida}}'">Ir a la Partida</button>
</div>
{% endif %}
{% endblock %}
{% block backButton %}
    <button class="backButton" type="button" onCLick="history.back()">Atras</button>
{% endblock %}

