<!DOCTYPE html>
<html>
<head>
<style>
.casilla {
	position: absolute;
	float: left;
	width: 25px;
	height: 25px;
}
.jugador {
	position: absolute;
	float: left;
	width: 50px;
	height: 50px;
	
}
#tablero {
	float: left;
}
#menu {
	float: left;
}
</style>
<meta charset="utf-8" />
<title>Trivial Nzabala</title>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){

		var nJugadores = 3;
		jugadores=[];
		jugador={};
		var casillaCentral = ["endstart",400,400];

		var casillasCirculo = [["azul",400,750,"cruce",""],["amarillo",472,738],["blanco",514,732],["naranja",552,711],["lila",589,687],["blanco",625,664],["verde",660,631],["rosa",703,574],["verde",730,511],["blanco",739,466],["amarillo",745,421],["azul",743,378],["lila",730,292],["naranja",702,223],["lila",657,171],["blanco",625,136],["verde",589,110],["rosa",552,90],["blanco",513,70],["azul",471,60],["amarillo",400,48],["azul",328,60],["blanco",286,72],["lila",246,88],["naranja",207,111],["blanco",174,136],["rosa",141,170],["verde",94,225],["rosa",70,292],["blanco",59,334],["azul",52,379],["amarillo",54,420],["blanco",57,463],["naranja",70,510],["lila",96,576],["naranja",139,630],["blanco",174,661],["rosa",207,687],["verde",246,711],["blanco",286,729],["amarillo",328,741]];
		
		var casillasVertical = [["azul",400,105],["lila",400,150],["rosa",400,196],["naranja",400,240],["verde",400,285],["endstart",400,400],["rosa",400,515],["lila",400,562],["verde",400,599],["naranja",400,646],["amarillo",400,693]];

		var casillasHorizontalSup = [["rosa",145,252],["azul",184,276],["naranja",222,297],["amarillo",264,319],["lila",300,342],["endstart",400,400],["naranja",500,459],["azul",537,480],["lila",576,502],["amarillo",616,525],["verde",657,546]];

		var casillasHorizontalInf = [["naranja",142,547],["rosa",183,523],["amarillo",222,504],["verde",259,478],["azul",301,457],["endstart",400,400],["amarillo",500,343],["rosa",537,319],["azul",577,300],["verde",616,277],["lila",659,252]];

		

		var objetivos =[];
			objetivos["azul"]=[400,750];
			objetivos["rosa"]=[703,574];
			objetivos["naranja"]=[702,223];
			objetivos["amarillo"]=[400,48];
			objetivos["verde"]=[94,225];
			objetivos["lila"]=[96,576];
			objetivos["fin"]=[400,400];

		for(var i = 0; i < casillasVertical.length ;i++){
			v = "V";
			$('#tablero').append($("<div></div>").addClass("casilla").attr({id:"posicionV"+i, onclick:"seleccionarCasilla(v,"+i+");"}).css({top: casillasVertical[i][2], left: casillasVertical[i][1]}));
		}
		for(var i = 0; i < casillasCirculo.length ;i++){
			c = "C";
			$('#tablero').append($("<div></div>").addClass("casilla").attr({id:"posicionC"+i, onclick:"seleccionarCasilla(c,"+i+");"}).css({top: casillasCirculo[i][2], left: casillasCirculo[i][1]}));
		}
		for(var i = 0; i < casillasHorizontalSup.length ;i++){
			hs = "HS";
			$('#tablero').append($("<div></div>").addClass("casilla").attr({id:"posicionHS"+i, onclick:"seleccionarCasilla(hs,"+i+");"}).css({top: casillasHorizontalSup[i][2], left: casillasHorizontalSup[i][1]}));
		}
		for(var i = 0; i < casillasHorizontalInf.length ;i++){
			hi = "HI";
			$('#tablero').append($("<div></div>").addClass("casilla").attr({id:"posicionHI"+i, onclick:"seleccionarCasilla(hi,"+i+");"}).css({top: casillasHorizontalInf[i][2], left: casillasHorizontalInf[i][1]}));
		}
		empezarPartida(nJugadores);
	});

	function tirarDados(){
		var dado = Math.floor((Math.random() * 6) + 1); 
		$('#dadosText').text(dado);
		var valor = parseInt($('#rondaText').text());
		$('#rondaText').text(valor+1);
		$('#turno').text(jugadores[valor%3].id);
	}
	function seleccionarCasilla(ubicacion,id)
	{
		quien = $('#turno').text();		
		desde = $(quien).position();
		hasta = $("#posicion"+ubicacion+id);

		if ($('#rondaText').text()!=0){
			moverQuesito(hasta.position());	
		}
	}
	function moverQuesito(posicionFicha){
		ficha = $('#turno').text();
		$('#'+ficha).css({top: posicionFicha.top, left : posicionFicha.left});
	}
	function empezarPartida(nJugadores){
		for(var j = 0 ; j < nJugadores; j++){
			$('#tablero').append($("<img></img>").addClass("jugador").attr({id:"jugador"+j, src:"/images/wow"+j+".png"}).css({top: 400, left: 400}));
			jugadores.push({id:"jugador"+j, posicion: $('#jugador'+j).position()});
		}
		$('#turno').text(jugadores[nJugadores%nJugadores].id);
		
	}

</script>
</head>
<body>
<div id=container>
	<div id=tablero>
		<img src="{{ asset('/images/trivial-wow.jpg') }}">
	</div>
	<div id=menu>
		
		<div id=ronda>
			<p>Ronda Actual:</p>
			<p id=rondaText>0</p>
			<p>Turno Jugador:</p>
			<p id=turno></p>
		</div>
		<div id=dados>
			<button type=button onclick="tirarDados();">Tirar Dados</button>
			<p>Tirada:</p>
			<p id=dadosText>NA</p>
		</div>
		<div id=score>
			<p>Tu Puntuación:</p>
			<p id=scoreText></p>
		</div>
		<div id=pregunta>
			<p id=preguntaText></p>
		</div>
		<div id=tiempo>
			<p></p>
		</div>
	</div>
</div>
</body>
</html>