<!DOCTYPE html>
<html>
<head>
<style>
.posicion {
	position: absolute;
	float: left;
	width: 25px;
	height: 25px;
}
.jugador {
	position: absolute;
	float: left;
	width: 50px;
	height: 50px;
}
#tablero {
	float: left;
}
#menu {
	float: left;
}
</style>
<meta charset="utf-8" />
<title>Trivial Nzabala</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var posiciones = 73;
		var nJugadores = 3;
		jugadores=[];
		jugador={};
		var casillas = [["amarillo",328,741],["blanco",286,729],["verde",246,711],["rosa",207,687],["blanco",174,661],["naranja",139,630],["azul",301,457],["verde",259,478],["amarillo",222,504],["rosa",183,523],["naranja",142,547],["lila",96,576],["naranja",70,510],["blanco",57,463],["amarillo",54,420],["azul",52,379],["blanco",59,334],["rosa",70,292],["lila",300,342],["amarillo",264,319],["naranja",222,297],["azul",184,276],["rosa",145,252],["verde",94,225],["rosa",141,170],["blanco",174,136],["naranja",207,111],["lila",246,88],["blanco",286,72],["azul",328,60],["verde",400,285],["naranja",400,240],["rosa",400,196],["lila",400,150],["azul",400,105],["amarillo",400,48],["azul",471,60],["blanco",513,70],["rosa",552,90],["verde",589,110],["blanco",625,136],["lila",657,171],["amarillo",500,343],["rosa",537,319],["azul",577,300],["verde",616,277],["lila",659,252],["naranja",702,223],["lila",730,292],["blanco",739,336],["azul",743,378],["amarillo",745,421],["blanco",739,466],["verde",730,511],["naranja",500,459],["azul",537,480],["lila",576,502],["amarillo",616,525],["verde",657,546],["rosa",703,574],["verde",660,631],["blanco",625,664],["lila",589,687],["naranja",552,711],["blanco",514,732],["amarillo",472,738],["azul",400,750],["amarillo",400,693],["naranja",400,646],["verde",400,599],["lila",400,562],["rosa",400,515],["endstart",400,400]];
		var objetivos =[];
			objetivos["azul"]=[400,750];
			objetivos["rosa"]=[703,574];
			objetivos["naranja"]=[702,223];
			objetivos["amarillo"]=[400,48];
			objetivos["verde"]=[94,225];
			objetivos["lila"]=[96,576];
			objetivos["fin"]=[400,400];

		for(var i = 0; i < posiciones;i++){
			$('#tablero').append($("<div></div>").addClass("posicion").attr({id:"posicion"+i, onclick:"seleccionarCasilla("+i+");"}).css({top: casillas[i][2], left: casillas[i][1]}));
		}
		empezarPartida(nJugadores);
	});

	function tirarDados(){
		var dado = Math.floor((Math.random() * 6) + 1); 
		$('#dadosText').text(dado);
		var valor = parseInt($('#rondaText').text());
		$('#rondaText').text(valor+1);
		$('#turno').text(jugadores[valor%3].id);
	}
	function seleccionarCasilla(id)
	{
		id = $("#posicion"+id);
		moverQuesito(id.position(),$('#dadosText').text());	
	}
	function moverQuesito(posicionFicha,dado){
		var ficha = $('#turno').text();
		$('#'+ficha).css({top: posicionFicha.top, left : posicionFicha.left});
	}
	function empezarPartida(nJugadores){
		for(var j = 0 ; j < nJugadores; j++){
			$('#tablero').append($("<img></img>").addClass("jugador").attr({id:"jugador"+j, src:"../../../web/images/wow"+j+".png"}).css({top: 400, left: 400}));
			jugadores.push({id:"jugador"+j, posicion: $('#jugador'+j).position()});
		}
		$('#turno').text(jugadores[nJugadores%nJugadores].id);
		
	}

</script>
</head>
<body>
<div id=container>
	<div id=tablero>
		<img src="../../../web/images/trivial-wow.jpg">
	</div>
	<div id=menu>
		
		<div id=ronda>
			<p>Ronda Actual:</p>
			<p id=rondaText>0</p>
			<p>Turno Jugador:</p>
			<p id=turno></p>
		</div>
		<div id=dados>
			<button type=button onclick="tirarDados();">Tirar Dados</button>
			<p>Tirada:</p>
			<p id=dadosText>NA</p>
		</div>
		<div id=score>
			<p>Tu Puntuación:</p>
			<p id=scoreText></p>
		</div>
		<div id=pregunta>
			<p id=preguntaText></p>
		</div>
		<div id=tiempo>
			<p></p>
		</div>
	</div>
</div>
</body>
</html>