{% extends 'base.html.twig' %}

{% block body %}
   <h3>Trivial Menu</h3>
        <div id="upperbar1">
            {% block upperbar1 %}
                <a href="/showGames">Jugar Ahora</a>
                <a href="/showAllPlayers">Mostrar Ranking</a>
                <a href="/showUser">Buscar Jugador</a>
                <a href="/editUser">Editar Jugador</a>
                <a href="/deleteUser">Eliminar Jugador</a>
                <br>
            {% endblock %}
        </div>
    <h4>Colabora en nuestra comunidad de preguntas para conseguir cada mes nuevas y más divertidas preguntas para nuestro Trivial Online</h4>
    <h3>Menu preguntas</h3>
        <div id="upperbar2">
            {% block upperbar2 %}
                <a href="/newQuiz">Añadir Preguntas</a>
                <a href="/showQuiz">Buscar Pregunta</a>
                <a href="/editQuiz">Editar Preguntas</a>
                <br>
            {% endblock %}
        </div>
    <h3>Menu partidas</h3>
        <div id="upperbar3">
            {% block upperbar3 %}
                <a href="/searchGame">Buscar Partida</a>
                <a href="/deleteGame">Eliminar Partida</a>
                <br>
            {% endblock %}
        </div>
{% endblock %}
