{# app/Resources/views/partidas/content.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h3> Lista de Partidas </h3>
<table border="1">
    <tr>
        <th>id de partida</th>
        <th>nombre</th>
        <th>Estado</th>
    </tr>
    {% for partidas in partidas %}
        <tr>
            {% if partidas.estado == "open" %}
            <td><a href="/partida/{{ partidas.partidaid }}">{{ partidas.partidaid }}</a></td>
            <td>{{ partidas.name }}</td>
            <td>{{ partidas.estado }}</td>
            {% else %}
            <td>{{ partidas.partidaid }}</td>
            <td>{{ partidas.name }}</td>
            <td>{{ partidas.estado }}</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
{% block backButton %}
    <button class="backButton" type="button" onCLick="history.back()">Atras</button>
{% endblock %}