{# app/Resources/views/partidas/form.html.twig #}
{% extends 'base.html.twig' %}
{% block form %}
	<h3> {{title}} </h3>
    {{ form_start(form) }}

    <div class="login-form">  
	  <div class="field">
	  {{ form_widget(form) }} 
	</div>
	{{ form_end(form) }}

{% endblock %}