{# app/Resources/views/preguntas/content.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h3> Lista de preguntas </h3>
<table border="1">
    <tr>
        <th>id</th>
        <th>quiz</th>
        <th>answer 1</th>
		  <th>answer 2</th>
		  <th>answer 3</th>
		  <th>answer 4</th>
    </tr>
    {% for preguntas in preguntas %}
        <tr>
            <td>{{ preguntas.quizid }}</td>
            <td>{{ preguntas.question }}</td>
            <td>{{ preguntas.answer1 }}</td>
            <td>{{ preguntas.answer2 }}</td>
            <td>{{ preguntas.answer3 }}</td>
            <td>{{ preguntas.answer4 }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}